/* 重置和基本樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  border: 1.5px dashed pink;
}

body {
  border: 3px dashed blue;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.drawing-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.tools-area {
  height: 20%; /* 預設工具區高度 */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  overflow-x: auto;
}

/* 不同方向的媒體查詢 */

@media (orientation: landscape) {
  .drawing-area {
    height: 90%;
  }

  .tools-area {
    height: 10%;
  }
}

@media (orientation: portrait) {
  .drawing-area {
    height: 80%;
  }

  .tools-area {
    height: 20%;
  }
}

@media (max-width: 400px) {
  .tools-area button {
    font-size: 0.8rem; /* 按鈕大小調整的示例 */
  }
}
